{% extends 'bill/base.html' %}

{% block content %}

<a href="https://api.venmo.com/v1/oauth/authorize?client_id=2010&scope=make_payments%20access_profile%20access_balance">Authorize Venmo</a>
<h4>{{unit}}</h4>
{{split_bill}}<a href="{% url 'payment' bill_pk=original_bill.id %}">Venmo {{original_bill.user.username}} ${{split_bill.split}}</a>
<div class="col-md-12">
    <a href="" data-toggle="modal" data-target="#add-bill"><button type="button" class="btn btn-success btn-button pull-right">Add Bill</button></a>
</div>
{% endblock content %}