{% extends 'core/base.html' %}

{% block content %}
<h4>{{unit}}</h4>${{unit.rent}}

    {% for split in split_bill %}
        <div>${{split.split}} - {{split.user.username}}</div>
    {% endfor %}
    <a class="btn btn-primary pull-right" href="{% url 'managment_set_rent' unit_pk=unit.id %}" role="button">Update Rent</a>


<div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Rent</th>
        </tr>
    </thead>
    <tbody>
    {% for tenant, split_bill in tenant_rent %}
        <tr>
            <td>{{tenant}}</td>
            <td>{{tenant.user.email}}</td>
            <td>${{split_bill.split}}</td>
        </tr>
    {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td>Total = <br><strong>${{unit.rent}}</strong></td>
        </tr>
    </tbody>
</table>
</div>
{% endblock content %}

{% block sidebar %}
<div class="nav nav-pills">
    {% for x in units %}
    <li{% if x.id = unit.id %} class="active"{% endif %}><a href="{% url 'single_unit' unit_pk=x.id %}" class="list-group-item{% if unit.pk == x.pk %} class="active"{% else %}"{% endif %}>{{x}}</a></li>
    {% endfor %}
</div>
{% endblock sidebar %}