{% extends 'core/base.html' %}

{% block content %}
<h4>{{unit}}</h4>${{unit.rent}}

    {% for split in split_bill %}
        <div>${{split.split}} - {{split.user.username}}</div>
    {% endfor %}
{% endblock content %}

{% block sidebar %}
<div class="nav nav-pills nav-stacked">
    {% for x in units %}
    <li><a href="{% url 'single_unit' unit_pk=x.id %}" class="list-group-item{% if unit.pk == x.pk %} class="active"{% else %}"{% endif %}>{{x}}</a></li>
    {% endfor %}
</div>
{% endblock sidebar %}