<!-- context['unit'] = Tenant.objects.get(user=request.user.id).unit

if RentBill.objects.filter(unit=context['unit'], has_paid=False).exists():
    rent_bill = RentBill.objects.get(unit=context['unit'], has_paid=False)
    context['split_bill'] = Split_Bill.objects.get(original=rent_bill.bill, user=request.user.id)
    context['original_bill'] = context['split_bill'].original
     -->

{% extends 'core/base.html' %}


{% block script %}
<script type="text/javascript" src="https://www.moxtra.com/api/js/moxtra-latest.js" id="moxtrajs" data-client-id="ulPImqICqYs"></script>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha256.js"></script>
<script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-base64-min.js"></script>

<!-- Create Signature -->
<script type="text/javascript">// <![CDATA[
    var client_id = "ulPImqICqYs";
    var client_secret = "mKB98J9rKRM";
    var timestamp = new Date().getTime();
    var unique_id = "laksjdfl"; //Unique ID of how user is identified in your system

    var hash = CryptoJS.HmacSHA256(client_id + unique_id + timestamp, client_secret);
    var hashInBase64 = CryptoJS.enc.Base64.stringify(hash);
    var signature = hashInBase64.replace(/\+/g, '-').replace(/\//g, '_').replace(/\=+$/, '');
    // ]]>
</script>

<!-- Initialize user and get access token -->
<script type="text/javascript">
    function get_token() {
        var init_options = {
            uniqueid: unique_id,
            firstname: "John",
            lastname: "Doe",
            timestamp: timestamp,
            signature: signature,
            get_accesstoken: function(result) {
                console.log("access_token: " + result.access_token + " expires in: " + result.expires_in);
                start_chat(result.access_token);
            },
            error: function(result) {
                console.log("error code: " + result.error_code + " message: " + result.error_message);
            }
        };
        Moxtra.setup(init_options);
    }
</script>

<!-- Start Chat Function -->
<script type="text/javascript">
function start_chat (access_token) {
    var chat_options = {
        //unique id of the users who will be part of the chat. These users should already exist in Moxtra.
        unique_id:"unique_user_id",
        iframe: false,
        tagid4iframe: "chat_container",
        iframewidth: "432px",
        iframeheight: "500px",
        access_token: access_token,
        autostart_meet: true,
        autostart_note: true,
        extension: { "show_dialogs": { "member_invite": true } },
        start_chat: function(event) {
            console.log("Chat started binder ID: " + event.binder_id);
            //Your application server can upload files to draw using the binder_id and access_token
        },
        start_meet: function(event) {
            console.log("Meet started session key: " + event.session_key + " session id: " + event.session_id);
        },
        end_meet: function(event) {
            console.log("Meet end event");
        },
        invite_member: function(event) {
            console.log("Invite member into binder Id: " + event.binder_id);
        },
        request_note: function(event) {
            console.log("Note start request");
        },
        error: function(event) {
            console.log("Chat error code: " + event.error_code + " error message: " + event.error_message);
        }
    };
    Moxtra.chat(chat_options);
}
</script>
{% endblock script %}

{% block style %}
<style>
	.row .col-md-4 {
		/*border: 1px solid rgba(86,61,124,.2);*/
	}

	.row .col-md-8 {
		/*border: 1px solid rgba(86,61,124,.2);*/
	}

/*https://coderwall.com/p/z87nsq*/
	.circular {
		width: 50px;
		height: 50px;
		background-size: cover;
		display: inline-block;
		float: left;
		border-radius: 50px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
	}

	/*http://stackoverflow.com/questions/13596821/css-align-images-and-text-on-same-line*/
	.debt-name {
		display: inline-block;
		vertical-align: middle;
	}
</style>
{% endblock style %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			{% if venmo_access_token != NULL %}
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Current Balance</h3>
			  </div>
			  <div class="panel-body">
			    $1234.56
			  </div>
			</div>
			{% else %}
			<a href="https://api.venmo.com/v1/oauth/authorize?client_id=2010&scope=make_payments%20access_profile%20access_balance">Authorize Venmo</a>
			{% endif %}
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Total Transaction</h3>
			  </div>
			  <div class="panel-body">
			    $1234.56
			  </div>
			</div>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Transaction Count</h3>
			  </div>
			  <div class="panel-body">
			    12,456
			  </div>
			</div>
		</div>

		<div class="col-md-9">
		<table class="table table-hover">
	      <thead>
	        <tr>
	          <th></th>
	          <th>Reason</th>
	          <th>Ammount</th>
	          <th>Due Date</th>
	          <th></th>
	        </tr>
	      </thead>
	      <tbody>
	        {% for bill in tenant_bills %}
	        <tr{% if bill.original.late_check %} class="danger"{% elif bill.original.warning_time %} class="warning"{% endif %}>
	          <td><img class="circular" src="{{tenant.venmo_photo}}"/></td>
	          <td>{{bill.original.debt_type}}</td>
	          <td>${{bill.split}}</td>
	          <td>{{bill.original.date_due}}
	          <td><a href="#" alt="Pay the debt."><img style="float:right;width:50px" src="https://s3.amazonaws.com/venmo/venmo100x100.jpg"/></a></td>
	        </tr>
	        {% endfor %}
	        {% for todo in unit_todo_list %}
			<tr class="info">
	          <td><img class="circular" src="{{tenant.venmo_photo}}"/></td>
	          <td>{{todo.name}}</td>
	          <td></td>
	          <td>{{todo.due_date}}</td>
	          <td><button type="button" class="btn btn-default btn-lg pull-right"><span class="glyphicon glyphicon-ok"></span></button></td>
	        </tr>
	        {% endfor %}
	      </tbody>
	    </table>
	    <button class="pull-right">Add</button>
		</div>
	</div>
</div>
<div id="fb-root">
<iframe id="chat_container" frameborder="0" allowtransparency="true" allowfullscreen="true" style="overflow: scroll; width: 100%; height: 100%; border: none; background-color: transparent;"></iframe></div>{% endblock content %}

{% block sidebar %}
<a id="getToken" href="javascript:get_token();"><button type="button" class="btn btn-primary btn-lg btn-block">Enter Group Chat</button></a>

{% endblock sidebar %}
