<!-- context['unit'] = Tenant.objects.get(user=request.user.id).unit

if RentBill.objects.filter(unit=context['unit'], has_paid=False).exists():
    rent_bill = RentBill.objects.get(unit=context['unit'], has_paid=False)
    context['split_bill'] = Split_Bill.objects.get(original=rent_bill.bill, user=request.user.id)
    context['original_bill'] = context['split_bill'].original
     -->

{% extends 'core/base.html' %}

{% block style %}
<style>
	.row .col-md-4 {
		/*border: 1px solid rgba(86,61,124,.2);*/
	}

	.row .col-md-8 {
		/*border: 1px solid rgba(86,61,124,.2);*/
	}

/*https://coderwall.com/p/z87nsq*/
	.circular {
		width: 50px;
		height: 50px;
		background-size: cover;
		display: inline-block;
		float: left;
		border-radius: 50px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
	}

	/*http://stackoverflow.com/questions/13596821/css-align-images-and-text-on-same-line*/
	.debt-name {
		display: inline-block;
		vertical-align: middle;
	}
</style>
{% endblock style %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			{% if not venmo_access_token %}
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Current Balance</h3>
			  </div>
			  <div class="panel-body">
			    $1234.56
			  </div>
			</div>
			{% else %}
			<a href="https://api.venmo.com/v1/oauth/authorize?client_id=2010&scope=make_payments%20access_profile%20access_balance">Authorize Venmo</a>
			{% endif %}
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Total Transaction</h3>
			  </div>
			  <div class="panel-body">
			    $1234.56
			  </div>
			</div>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Transaction Count</h3>
			  </div>
			  <div class="panel-body">
			    12,456
			  </div>
			</div>
		</div>

		<div class="col-md-9">
		<table class="table">
	      <thead>
	        <tr>
	          <th></th>
	          <th>Reason</th>
	          <th>Ammount</th>
	          <th></th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr class="active">
	          <td><img class="circular" src="{{tenant.venmo_photo}}"/></td>
	          <td>Column content</td>
	          <td>Column content</td>
	          <td><a href="#" alt="Pay the debt."><img style="float:right;width:50px" src="https://s3.amazonaws.com/venmo/venmo100x100.jpg"/></a></td>
	        </tr>
	        <tr>
	          <td><img class="circular" src="{{tenant.venmo_photo}}"/></td>
	          <td>Column content</td>
	          <td>Column content</td>
	          <td><a href="#" alt="Pay the debt."><img style="float:right;width:50px" src="https://s3.amazonaws.com/venmo/venmo100x100.jpg"/></a></td>
	        </tr>
	        <tr class="success">
	          <td><img class="circular" src="{{tenant.venmo_photo}}"/></td>
	          <td>Column content</td>
	          <td>Column content</td>
	          <td><a href="#" alt="Pay the debt."><img style="float:right;width:50px" src="https://s3.amazonaws.com/venmo/venmo100x100.jpg"/></a></td>
	        </tr>
	        <tr>
	          <td><img class="circular" src="{{tenant.venmo_photo}}"/></td>
	          <td>Column content</td>
	          <td>Column content</td>
	          <td><a href="#" alt="Pay the debt."><img style="float:right;width:50px" src="https://s3.amazonaws.com/venmo/venmo100x100.jpg"/></a></td>
	        </tr>
	      </tbody>
	    </table>
		</div>
	</div>
</div>
{% endblock content %}

{% block sidebar %}
<ul class="nav nav-pills nav-stacked">
	<li class="active"><a href="#">Today</a></li>
	<li><a href="#">September</a></li>
</ul>
{% endblock sidebar %}
